---
import Layout from "@layouts/Layout.astro";

import invited from "@data/invited.json";

interface Speaker {
  image: string;
  speaker: string;
  affiliation: string;
  title: string;
  link?: string;
}
---

<Layout title="Invited Speakers">
  <div class="flex mb-6">
    <a href="/presentations/" class="pr-2 hover:underline hover:text-slate-500"
      >Presentations</a
    >
     |
    <a href="/teaching/" class="px-2 hover:underline hover:text-slate-500"
      >Teaching</a
    > |
    <a
      href="/invited/"
      class="pl-2 font-bold hover:underline hover:text-slate-500"
      >Invited Speakers</a
    >
  </div>

  <ul class="list-none space-y-8 text-sm">
    {
      invited.map((speaker) => (
        <li class="flex flex-row odd:flex-row-reverse items-center gap-4">
          <img width="112" src={speaker.image} alt="alt" />
          <div>
            <span class="underline">{speaker.speaker}</span>,
            <span>{speaker.affiliation}</span>,
            {speaker.link ? (
              <a
                href={speaker.link}
                target="_blank"
                class="font-bold italic hover:underline hover:text-slate-500"
              >
                {speaker.title},
              </a>
            ) : (
              <span class="font-bold italic">{speaker.title},</span>
            )}
            <span>{speaker.location}</span>.
          </div>
        </li>
      ))
    }
  </ul>
</Layout>
